@import "../../node_modules/bootstrap/scss/bootstrap.scss";
/*@import "./variables.scss";*/

//------------------------------------------------
// PATRON DE COLORES
//------------------------------------------------

$texto:#111111;
$texto-W:#fff;
$myBlue: rgb(106, 192, 231);

html{
    font-size: 15px;
}
body{
  color: $texto;
  font-family: 'Open-sans',sans-serif;
  padding: 0.5rem 0;
  padding:0;
}
.backg-dark{
  background-color: rgb(31, 31, 34) !important;
}
.text-shadow{
  text-shadow: 0px 0px $myBlue;
  transition: all 1s ease;  
}
 
//------------------------------------------------
// Home
//------------------------------------------------

.home{ 
  position: relative;
  color: $texto-W;
  background: url("images/posible-bg3.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;  
  display: flex;
  flex-direction: column;
}

//------------------------------------------------
// Navbar 
//------------------------------------------------ 

.navbar {
  background-color: transparent; 
  transition: all 1s ease;
}
.navbar .logo img{   //===== LOGO DEL SITIO
  width: 50px;
  height: auto;
}
.ws-name{            //===== NOMBRE DEL SITIO
  text-decoration: none;
  color: $texto-W;
  font-size: 1.3rem;
  font-weight: bold;
}
    
.navbar .menu-button {    //====== BOTON MENU
  border:0;
  font-size: 1.5rem; 
  color: $texto-W;
     
}
.navbar .menu-button:hover, .navbar .menu-button:focus { 
  outline:0;
    
}
    
.navbar-collapse{   //===== NAV DE MENU
  flex:1 1 100%;
  transition: all .5s ease;
}
.navbar-collapse .navbar-nav{ //===== UL --> NAV de MENU
  display: flex;
  justify-content: flex-end; 
}
            
.navbar-nav .nav-item .nav-link{ //=== a de LI - UL ^ 
  color:$texto-W;
  text-transform: uppercase;
  font-weight: bold
}
.navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item .nav-link:focus, .navbar-nav .nav-item .nav-link.active{
  color: $texto-W;
  display: inline-block; 
  border-bottom: 2px solid;
    
}

                    
//------------------------------------------------
// HEADER en HOME 
//------------------------------------------------                
.home__header{
  align-items: center;
  margin-top: 8rem;
}
.home__header .container{  //===== CONTAINER CON EL TITULO Y LA ESCRIPCION 
  flex:1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
}

.prueba .description{
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1.3rem;
  margin-bottom: 0;    
}
//------------------------------------------------
// SLIDE DE IMÃGENES (Home - Header) 
//------------------------------------------------ 

.home .images { //=== CONTAINER DEL CAROUSEL
  position: absolute;
  display: flex;
  justify-content: center; 
  bottom: 8vh;
}
.home .images .carousel{  
  height:calc(100vh/3);
  width: calc(100vh/3.6);
  background-color: $texto-W;
} 
.carousel img{
  height: calc(100vh/3);
  width: calc((100vh/3.6));
}
//------------------------------------------------
// REGISTRY FORM 
//------------------------------------------------ 
.registry-form .invalid:focus:invalid{ 
border-color: #e60404;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.registry-form input[type='email']:focus:valid{ 
border-color: #04e62a;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(3, 241, 3, 0.25);
}
.registry-form .stars ul{ //=== every star on star-bar
  list-style: none;
  padding-left: 15px;
}

.registry-form .stars .star{ //=== every star on star-bar
  color: $myBlue;
}
.registry-form .stars .rate{ //=== every star on star-bar
  color: $myBlue;
  font-size: .8rem;
  padding-top: .8rem;
  padding-left:0;
}
//------------------------------------------------
// FOOTER
//------------------------------------------------

.footer{
  background-color: $texto;
  color: #fff;
  text-align: center;
  font-size: .8rem;
}
    
.footer .social-media{ //==== Redes sociales
  list-style: none;
}
.footer .social-media a{
color:#fff;
margin:0 0.5rem;
font-size: 1.6rem;
opacity: 0.7;
transition: all 0.5s ease;
} 
.footer .social-media a:hover{
  opacity: 1;
} 
//------------------------------------------------
// Flecha subir
//------------------------------------------------

.up{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999999;
  color:grey;
  text-decoration: none;
  font-size: 2.6rem;
  line-height: 0;
  transition: all 0.5s ease;
}
.up:hover{
  color: rgb(179, 179, 184);  
}   
.up:focus{
  outline:0;
  text-decoration: none;
}         
 

//=====================================================================
// =======================  MEDIAS QUERYS  ===========================
//=====================================================================

@media (min-width: 430px) {

  .home__header .display-4{
    font-size: 4.5rem;
    font-weight: bold;
  }        
}


//=================(768)==============================================

@media (min-width: 768px) {

  html{
    font-size: 16px;
  }
  
  .navbar .logo{ //=================LOGO
    margin-left: 1rem; 
     
  }
  .text-shadow{   //===== NOMBRE DEL SITIO
  text-shadow: -1px 0.7px $myBlue, -2px 1.5px grey;
}
  .navbar .navbar-nav{  //================ (UL de NAV)
    margin-left: auto;
    margin-right: 1rem !important;
    justify-content: flex-end;
  }
  .home{   //============HOME
    position: relative;
    background: url("images/bg-md.jpg") no-repeat center; //===cambio de fondo
    background-size: cover;     
  }
  .home__header .header__text{ //====contenedor del titulo y la descripcion
    margin-left: 1.5rem;
    padding-left: 0;
  }
  .home__header .display-4{ //===titulo
    font-size: 5rem;
  }
  .home__header .description{//===descripcion
    margin-top:1.6rem;
    font-weight: bold;
    padding-right: 0;
    margin-left: 1rem;
  }
  .home .images{//===contenedor del carousel de imagenes  
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding-left: 5rem;   
  }
  .home .images .carousel{ //===carousel 
    width: 220px;
    height:275px;
  }
  .carousel img{//=== img del carousel
    width: 220px;
    height: 275px;
  }  
  .up{
  font-size: 2.8rem;
  }  
}

//=======================(950)==========================================

@media (min-width: 950px) {

  html{
    font-size: 17px;
  }
  .navbar .logo .ws-name{   //===== NOMBRE DEL SITIO
  font-size: 1.5rem;
  }

  .home__header .header__text{ //====contenedor del titulo y la descricion 
    margin-left: 0;
  }
  
  .home .images .carousel{ //===carousel 
    width: 245px;
    height:300px;
  }
  .carousel img{//=== img del carousel
    width: 245px;
    height: 300px;
  }
  
 .footer .social-media a{
    font-size: 2rem;
  }      
}


//=======================(1165)==========================================

@media (min-width: 1165px) {
  .navbar .logo img{   //===== LOGO DEL SITIO
    width: 55px;
    height: auto;
  }
  .text-shadow{
    text-shadow: -1.6px 1.2px $myBlue, -3px 2.2px grey;
  }
  .home__header .display-4{ //===titulo
    font-size: 5.5rem;
  }
  .home .images .carousel{ //===carousel 
    width: 300px;
    height:355px;
  }
  .carousel img{//=== img del carousel
    width: 300px;
    height: 355px;
  }
}

//=================(Al girar el movil)=================================

@media (max-height: 530px) and (orientation: landscape){  //orientation: landscape --> !!esto no m funciono como queria  
  .home{   //============HOME
    position: relative;   
  }
  .home__header{
  margin-top: 5.4rem;
}
  .home__header .header__text{ //====contenedor del titulo y la descripcion
    margin-left: 1.6rem;
    padding-left: 0;
    align-items: flex-start;
    max-width: 60%;
  }
  .home__header .display-4{
    font-size: 3rem;
    font-weight: normal;
  }
  .home__header .description{//===descripcion
    margin-top:1rem;
    text-align: start;  //--prueba
    margin-left: .3rem;
  }
  .home .images{//===contenedor del carousel de imagenes  
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 150px;
    height:200px;
    padding-top: 0;
    padding-left: 0;
  }
  .home .images .carousel{ //===carousel
    width: 150px;
    height:200px;
  }
  .carousel img{//=== img del carousel
    width: 150px;
    height: 200px;
  }         
}

//=====Flecha del tooltip alert roja

.tooltip.bs-tooltip-top .arrow.red:before{
  border-top-color:  rgb(179, 5, 5);
}




///======================================Estilos DAICELYS=====================
.logo{
  width: 50px;
  
}

.encabezado{
	background: url("../images/d1.jpg") no-repeat center top; 
	color:rgb(6, 9, 175);
  background-size: cover;
  

 }
h1.welcome {
    padding-top:150px;
    
}


.agencia{
background: #c5c5c8;
color: rgb(14, 13, 13);
padding-top: 0px;
}

.avion{
  min-height:200px;
  min-width:200px;
  height:100%;
  width:auto;
  height: 22vw;
  width: 44vw;
  display: flex;
}

@media (max-width: 991px) {
  .avion{
    height: 45vw;
    width: 90vw;
  }
}
.novedades{
  background:rgb(182, 214, 186) ;
  padding-top:20px;
  justify-content: center;
  display: flex; 
}

.carousel img {
    width: 220px;
    height: 450px;
  }

.parrafo{
  font-size: 20px;
}

.letrero{
  margin-top: auto;
}

.navbar-logo{
  display:inline-block;

}
.nav-link {
    display: block;
    margin-left: .5rem;
}
 
