<div class="registry-form container">

  <div class="row">

    <div class="col-md-8 order-1 ">
      <h2 class="mb-3">Registry Form</h2>
      <form action="#" id="form__registry">
        <div class="form-group row">
          <label for="nombre" class="col-md-4 col-form-label">Name</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="name" name="nombre" placeholder="Your name"
              data-toggle="tooltip" data-placement="top" title="Enter your name">
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-md-4 col-form-label">Phone number</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="phone" name="nombre" placeholder="Your phone number"
              data-toggle="tooltip" data-placement="top" title="Enter your phone number">
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-md-4 col-form-label">Email</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="email" name="email" placeholder="Your e-mail"
              data-toggle="tooltip" data-placement="top" title="Insert your e-mail">
          </div>
        </div>

        <div class="form-group row">
          <label for="menssage" class="col-md-4 col-form-label">Message</label>
          <div class="col-md-8">
            <textarea class="form-control" rows="5" id="message" name="mensaje" placeholder="Message"
              data-toggle="tooltip" data-placement="top" title="Write a message"></textarea>
          </div>
        </div>
        <div class="row stars">
          <label class="col-md-4 col-form-label">Rate Us</label>

          <ul class="d-flex star-bar col-9 col-md-5 mb-3 mt-2 pl-2" id="star-list">

            <li class="mx-2"><i class="star fa fa-star-o" data-star-value="DREADFUL" id="1"></i>
            </li>
            <li class="mx-2"><i class="star fa fa-star-o" data-star-value="BAD" id="2"></i>
            </li>
            <li class="mx-2"><i class="star fa fa-star-o" data-star-value="MEDIUM" id="3"></i>
            </li>
            <li class="mx-2"><i class="star fa fa-star-o" data-star-value="GOOD" id="4"></i>
            </li>
            <li class="mx-2"><i class="star fa fa-star-o" data-star-value="GREAT" id="5"></i>
            </li>
          </ul>

          <div class=" rate col-3"><span id="rate"></span></div>

        </div>
        <div class="form-group row">
          <div class="col-md-8 offset-md-4">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-secondary" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-4 mb-3 order-md-2">
      <h3>Details</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis animi,
        doloremque fugit cumque sunt aliquid porro numquam ut soluta recusandae saepe
        voluptatum beatae ullam accusamus tempore provident quam aut pariatur.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis animi,
        doloremque fugit cumque sunt aliquid porro numquam ut soluta recusandae saepe
        voluptatum beatae ullam accusamus tempore provident quam aut pariatur.</p>

    </div>

  </div>

</div>