<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/font-awesome.min.css">
  <title>Photograph</title>
</head>

<body>

  <!--=======Navbar de bootstrap=============-->

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  {{{ body }}}


  <!--=======ARROW UP============-->

  <a href="#" class="up"><i class="fa fa-arrow-circle-up" aria-hidden="true" data-toggle="tooltip" data-placement="top"
      title="Back to top"> </i></a>

</body>

</html>