<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/font-awesome.min.css">
  <title>Photograph</title>
</head>

<body>

  <!--=======Navbar de bootstrap=============-->

  <nav class="navbar navbar-expand-md navbar-light fixed-top" id="navbar">
    <a class="navbar-brand logo" href="#">
      <img src="images/logo-extra.png" alt="logo">
      <span class="ws-name text-shadow ml-2">Photograph</span>
    </a>
    <button class="navbar-toggler collapsed menu-button" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" id="menu-button">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div class="navbar-collapse collapse " id="navbarSupportedContent" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active mx-1" id="nav-link-home" href="#home">Home</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" id="nav-link-registry" href="#registry">Contact</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" id="nav-link-something" href="#">Something</a>
        </li>
      </ul>
    </div>
  </nav>


  {{{ body }}}

  <!--=======FOOTER=============-->
  <footer class="footer p-3 backg-dark" role="contentinfo">
    <div class="container p-y-1">
      <p>2021 © Copyright PHOTOGRAPH. All Rights Reserved</p>
      <ul class="social-media d-flex justify-content-center m-0 p-0">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"> </i> </a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> </a></li>
      </ul>

    </div>

  </footer>

  <!--=======ARROW UP============-->

  <a href="#" class="up"><i class="fa fa-arrow-circle-up" aria-hidden="true" data-toggle="tooltip" data-placement="top"
      title="Back to top"> </i></a>



  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>