<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/font-awesome.min.css">
  <title>Photograph</title>
</head>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<body>

  <!--=======Navbar de bootstrap=============-->


  {{{ body }}}

  <!--=======FOOTER=============-->
  <footer class="footer p-3 backg-dark" role="contentinfo">
    <div class="container p-y-1">
      <p>2021 © Copyright PHOTOGRAPH. All Rights Reserved</p>
      <ul class="social-media d-flex justify-content-center m-0 p-0">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"> </i> </a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> </a></li>
      </ul>

    </div>

  </footer>

  <!--=======ARROW UP============-->

  <a href="#" class="up"><i class="fa fa-arrow-circle-up" aria-hidden="true" data-toggle="tooltip" data-placement="top"
      title="Back to top"> </i></a>



</body>

</html>