<section class="home" id="home">


  <header class="home__header text-xs-center">

    <div class="prueba container-fluid">

      <div class="row d-md-flex flex-md-row">

        <div class="container header__text col-12 col-md-7">

          <h1 class="display-4">Photograph</h1>
          <p class="description  ">Lorem ipsum dolor sit, amet consecr </p>

        </div>

        <div class="images container-fluid col-12 col-md-5">

          {{>carousel_images}}

        </div>

      </div>

    </div>


  </header>
</section>

<section class="registry py-5" id="registry">

  {{>form}}

</section>

<!-- Modal -->
<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submitted form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="text_info"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>