<!--menu de navegacio-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="navbar-logo">
    <a class="navbar-brand" href="index.hbs">
      <img class="logo" src="images/planet.png" alt="logo de la aerolinea">
    </a>

    <a class="navbar-brand" href="#">
      <h3 class="aerolinea">Aerolinea Aerofow</h3>
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#">Agencies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">References</a>
      </li>
    </ul>
  </div>
</nav>
<!--Fin menu_-->



<!--Encabezado-->

<section class="encabezado py-5">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <div class="letrero text-center">
        <h1 class="welcome display-4 font-weight-normal ">Welcome</h1>
        <p class="lead font-weight-normal">Exclusive Agencie</p>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

</section>

<!--Fin Encabezado---->


<!--Agencia-->

<section class="agencia">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <p>Muchas aerolíneas de bandera han sido privatizadas y el mercado ha sido liberalizado. Esto ha provocado la
          aparición de
          aerolíneas alternativas a las tradicionales, como ha ocurrido entre otros sitios en España, donde Iberia fue
          privatizada
          y surgieron competidoras como Air Europa, Spanair o Air Plus Comet. También es el caso de Perú con la línea
          aérea
          Peruvian Airlines, donde el mercado aéreo estaba hasta hace unos años dominado por Lan Perú y ahora existen
          muchas
          empresas competidoras. Sin embargo, en ciertos países a pesar de la liberalización del transporte aéreo las
          compañías
          tradicionales mantienen una situación de dominio absoluto del mercado, como es el caso de Avianca en
          Colombia, Air
          France en Francia, LAN Airlines en Chile o Alitalia en Italia y debido a las agresivas políticas que
          emplean, la escasa
          competencia que tienen suele desaparecer.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 ">
        <img class="avion" src="images/pruba1.jpg" alt="avion">
      </div>
    </div>
</section>


<!--Fin Agencia --->


<section class="novedades text-center">
  <div class="container">
    <h2 class="display-5 ">Vuelos a ciudades</h2>

    <div class="row py-4">
      <div class="col-sm-12 col-md-5">
        <!--CARRUSEL-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active" style="height:auto">
              <img src="images/fondo1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style="height: auto">
              <img src="images/fondo2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style="height: auto">
              <img src="images/fondo3.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" style="height: auto">
              <img src="images/fondo4.jpg" class="d-block w-100" alt="...">
            </div>

          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!--fIN Carousel-->

      </div>

      <div class="col-sm-12 col-lg-6 my-5">
        <p class="parrafo text-center">Muchas aerolíneas de bandera han sido privatizadas y el mercado ha sido
          liberalizado. Esto ha provocado la
          aparición de
          aerolíneas alternativas a las tradicionales, como ha ocurrido entre otros sitios en España, donde Iberia fue
          privatizada
          y surgieron competidoras como Air Europa, Spanair o Air Plus Comet. También es el caso de Perú con la línea
          aérea
          Peruvian Airlines, donde el mercado aéreo estaba hasta hace unos años dominado por Lan Perú y ahora existen
          muchas
          empresas competidoras. Sin embargo, en ciertos países a pesar de la liberalización del transporte aéreo las
          compañías
          tradicionales mantienen una situación de dominio absoluto del mercado, como es el caso de Avianca en
          Colombia, Air
          France en Francia, LAN Airlines en Chile o Alitalia en Italia y debido a las agresivas políticas que
          emplean, la escasa
          competencia que tienen suele desaparecer.</p>
      </div>

    </div>
  </div>
</section>





<script src="/js/aerolinea/index.js"></script>